.form {
    max-width: 300px;
    width: 100%;
    display: inline-block;
}

@media (max-width: 767px) {
    .form {
        max-width: 250px;
        width: 100%;
    }
}

.form__container {
    max-width: 280px;
    display: inline-block;
    width: 100%;
}

.form__fieldset {
    border: 1px solid #2920206e;
    border-radius: 4px;
    background-color: rgb(42 45 66 / 42%);
    color: black;
}

@media (max-width: 767px) {
    .form__fieldset {
        font-size: 80%;
    }
}

.form__legend {
    color: black;
    font-weight: bold;
    font-size: large;
}

.form__labelText {
    width: 164px;
    display: inline-block;
}

@media (max-width: 767px) {
    .form__labelText {
        width: 132px;
        display: inline-block;
    }
}

.form__field {
    max-width: 80px;
    width: 100%;
    padding: 2px;
    border: 1px solid #2920206e;
    border-radius: 4px;
    background-color: rgb(42 45 66 / 42%);
    color: white;
}

@media (max-width: 767px) {
    .form__field {
        max-width: 50px;
        width: 100%;
    }
}

.form__field::placeholder {
    color: rgba(243, 234, 234, 0.541);
}

.form__field2 {
    max-width: 68px;
    width: 100%;
    padding: 2px;
    border: 1px solid #2920206e;
    border-radius: 4px;
    background-color: rgb(42 45 66 / 42%);
    color: white;
}

@media (max-width: 767px) {
    .form__field2 {
        max-width: 61px;
        width: 100%;
    }
}

.form__strong {
    color: #e41111d1;
}

.form__alert {
    max-width: 150px;
    align-self: center;
}