.wrapper {
    max-width: 510px;
    display: flex;
}

@media (max-width: 767px) {
    .wrapper {
        flex-wrap: wrap;
    }
}

.button {
    height: 50px;
    border: 1px solid #2920206e;
    border-radius: 4px;
    align-self: center;
    margin: 10px;
    background-color: rgb(42 45 66 / 42%);
}
@media (max-width: 767px) {
    .button {
        margin: 3px;
    }
}

.button:hover {
    background-color: #46464665;
}