.wrapper{
    max-width:510px;
    display:flex;
}
.button{
    height:50px;    
    align-self: center;
    margin:10px;
    background-color:rgb(42 45 66 / 42%);
}
.button:hover{
    background-color:#46464665;
}